.editor-text-strikethrough {
    text-decoration: line-through;
}

.editor-text-bold {
    font-weight: 800;
}

.editor-text-italic {
    font-style: italic;
}

.editor-text-underline {
    text-decoration: underline;
}

.editor-text-strikethrough {
    text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
    text-decoration: underline line-through;
}

.editor-list-ol,
.editor-list-ul {
    list-style-position: inside;
}

.editor-list-ol .editor-listitem,
.editor-list-ul .editor-listitem {
    padding-left: 2em;
}

.editor-link,
.editor-link:link {
    color: var(--airforceblue);
}

.editor-link:visited {
    color: var(--orangepeel);
}

.editor-text-code {
    background: var(--antiflashwhite);
    border-radius: 5px;
    padding: 3px 7px;
    color: var(--firebrick)
}