.editor-text-strikethrough {
    text-decoration: line-through;
}

.editor-text-bold {
    font-weight: 800;
}

.editor-text-italic {
    font-style: italic;
}

.editor-text-underline {
    text-decoration: underline;
}

.editor-text-strikethrough {
    text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
    text-decoration: underline line-through;
}

.editor-list-ol {
    list-style-position: inside;
}

.editor-list-ol .editor-listitem {
    padding-left: 2em;
}

.editor-link,
.editor-link:link {
    color: var(--airforceblue);
}

.editor-link:visited {
    color: var(--orangepeel);
}

.editor-text-code {
    background: var(--antiflashwhite);
    border-radius: 5px;
    padding: 3px 7px;
    color: var(--firebrick)
}

.clipboard-notification {
    position: fixed; 
    top: 2%;  
    left: 50%;  
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--floralwhite);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10000;
}