.editor-text-strikethrough {
    text-decoration: line-through;
}

.editor-text-bold {
    font-weight: 800;
}

.editor-text-italic {
    font-style: italic;
}

.editor-text-underline {
    text-decoration: underline;
}

.editor-text-strikethrough {
    text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
    text-decoration: underline line-through;
}

.editor-list-ol {
    list-style-position: inside;
}

.editor-list-ol .editor-listitem {
    padding-left: 2em;
}