.toolbar {
    /* border: 1px solid blue; */

    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.6fr repeat(10, 1fr) 0.6fr repeat(3, 1fr) 5fr repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 2.5px;
    grid-row-gap: 10px;

    padding: 40px 0 0;
}

.toolbar button,
.toolbar select {
    border-radius: 6px;
    font-size: 1rem;
}

.toolbar button:active,
.toolbar button.active i,
.toolbar button.active p {
    transform: translateY(1px);

    background-color: var(--floralwhite);
    -webkit-box-shadow: inset 0px 0px 5px #d2cec1;
    -moz-box-shadow: inset 0px 0px 5px #d2cec1;
    box-shadow: inset 0px 0px 5px #d2cec1;

    border: 2px solid #d2cec1;
}

.toolbar button {
    transition: 0.08s ease-in-out;
    border: none;
    cursor: pointer;
    color: #000;
    font-weight: 500;
    padding: 8px 0;
}

.toolbar button.active {
    transform: translateY(1px);

    background-color: var(--floralwhite);
    -webkit-box-shadow: inset 0px 0px 5px #d2cec1;
    -moz-box-shadow: inset 0px 0px 5px #d2cec1;
    box-shadow: inset 0px 0px 5px #d2cec1;

    border: 2px solid #d2cec1;
}

/* button color styles */
.orange-solid {
    background-color: var(--orange);
    box-shadow: 0 var(--shadow-offset) 0 var(--tawny);
}

.orange-solid:hover {
    box-shadow: 0 var(--shadow-offset-hover) 0 var(--tawny);
}

.orange-outline {
    background-color: var(--light-bg);
    border: 2px solid var(--orange) !important;
    box-shadow: 0 var(--shadow-offset) 0 var(--tawny);
}

.orange-outline:hover {
    box-shadow: 0 var(--shadow-offset-hover) 0 var(--tawny);
}

.blue-solid {
    background-color: var(--columbiablue);
    box-shadow: 0 var(--shadow-offset) 0 var(--skyblue);
}

.blue-solid:hover {
    box-shadow: 0 var(--shadow-offset-hover) 0 var(--skyblue);
}

.blue-outline {
    background-color: var(--light-bg);
    border: 2px solid var(--carolinablue) !important;
    box-shadow: 0 var(--shadow-offset) 0 var(--airforceblue);
}

.blue-outline:hover {
    box-shadow: 0 var(--shadow-offset-hover) 0 var(--airforceblue);
}

.red-outline {
    background-color: var(--light-bg);
    border: 2px solid var(--red) !important;
    box-shadow: 0 var(--shadow-offset) 0 var(--firebrick);
}

.grayscale {
    filter: grayscale(1);
}

.font-dropdown {
    background-color: var(--light-bg);
    border: 2px solid var(--orange) !important;
    box-shadow: 0 var(--shadow-offset) 0 var(--tawny);

    appearance: none; /* removes default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 10px;
}