@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --orange: #F96E2A;
  --sinopia: #C74605;
  --columbiablue: #C9E6F0;
  --skyblue: #8FCCE0;
  --carolinablue: #78B3CE;
  --airforceblue: #5B899F;
  --floralwhite: #FBF8EF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--floralwhite);
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: "Funnel Sans", serif;
  font-optical-sizing: auto;
}

.wordsmith {
  /* border: 1px solid magenta; */
  width: 75vw;
  max-width: 1920px;
  height: auto;
  padding: 50px 30px;
  border-radius: 10px;
}

.title {
  opacity: 0.7;
}

/* -------------------------------------------------------------------------- */
/*                          TOOLKIT & TOOLKIT BUTTONS                         */
/* -------------------------------------------------------------------------- */
.toolkit {
  /* border: 1px solid blue; */

  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.6fr repeat(10, 1fr) 0.6fr repeat(3, 1fr) 5fr repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 2.5px;
  grid-row-gap: 10px; 

  padding: 60px 0 0;
}

.toolkit button, .toolkit select {
  padding: 8px 0; 
  border-radius: 6px;
  font-size: 1rem;
}

.toolkit button:active {
  transform: translateY(1px);

  background: var(--floralwhite);
  -webkit-box-shadow: inset 0px 0px 5px #d2cec1;
     -moz-box-shadow: inset 0px 0px 5px #d2cec1;
          box-shadow: inset 0px 0px 5px #d2cec1;

  border: 2px solid #d2cec1;
}

.toolkit button {
  transition: 0.08s ease-in-out;
}

.orange-bg {
  background-color: var(--orange);
  box-shadow: 0px 0.30rem 0px var(--sinopia);
  border: none;
}

.orange-bg:hover {
  box-shadow: 0px 0.18rem 0px var(--sinopia);
}

.orange-bd {
  background-color: #FBF8EF;
  border: 2px solid var(--orange);
  box-shadow: 0px 0.30rem 0px var(--sinopia);
}

.orange-bd:hover {
  box-shadow: 0px 0.18rem 0px var(--sinopia);
}

.blue-bg {
  background-color: var(--columbiablue);
  box-shadow: 0px 0.30rem 0px var(--skyblue);
  border: none;
}

.blue-bg:hover {
  box-shadow: 0px 0.18rem 0px var(--skyblue);
}

.blue-bd {
  background-color: #FBF8EF;
  border: 2px solid var(--carolinablue);
  box-shadow: 0px 0.30rem 0px var(--airforceblue);
}

.blue-bd:hover {
  box-shadow: 0px 0.18rem 0px var(--airforceblue);
}

.toolkit > *:not(:nth-child(6)):not(:nth-child(7)):not(:nth-child(10)) {
  filter: none; /* Remove grayscale from the exceptions */
}

#bold {
  font-weight: bolder;
}

#fontselector {
  padding: 0 10px
}

#fontselector:hover {
  box-shadow: 0px 0.35rem 0px var(--sinopia);
}

#colorpick {
  color: var(--sinopia);
}
/* ------------------------------------ - ----------------------------------- */

#editor {
  border: 2px solid #00000016;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 20px 0;
  padding: 12px 10px;

  height: 42vh;
  overflow-y: scroll;
}

footer {
  text-align: center;
  font-size: 0.7rem;
  opacity: 0.7;
}

footer a {
  text-decoration: none;
  color: #000000;

  transition: 0.2s ease-in-out;
}

footer a:hover {
  color: var(--sinopia)
}